@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'poppins','Noto Sans JP','Noto Sans TC';
  color: #f0f8ff;
}

svg {
  fill: #f0f8ff;
}

.frame {
  position: relative;
  background: -webkit-linear-gradient(45deg, #87cefa, #8a2be2, #ff00ff);
  background: linear-gradient(45deg, #87cefa, #8a2be2, #ff00ff);
  width: 1500px;
  height: 500px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box {
  margin: 40px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
          box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 20px;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  z-index: 100;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5] 3fr;
      grid-template-columns: repeat(5, 1fr) 3fr;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.div1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 3 / 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.div1 .imgBx img {
  max-width: 60%;
  height: auto;
}

.div2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: 1 / 3 / 3 / 6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.div2 .name-comment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.div2 .name {
  font-size: 5em;
  font-weight: 410;
}

.div2 .comment {
  margin-top: 20px;
  font-size: 1.5em;
}

.sns {
  width: 35%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.div3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 3 / 3 / 4 / 4;
}

.div4 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 3 / 4 / 4 / 5;
}

.div5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-area: 3 / 5 / 4 / 6;
  width: 42%;
}

.smallBx {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6em;
  line-height: 1.28;
}

.smallBx .imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin: 15px;
}

.smallBx .imgBx svg {
  width: 100%;
  height: 100%;
}

.div6 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-area: 1 / 6 / 2 / 7;
}

.div7 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-area: 2 / 6 / 3 / 7;
}

.div8 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-area: 3 / 6 / 4 / 7;
  font-size: 1.35em;
}
/*# sourceMappingURL=style.css.map */